/* start about-us */
.come-play{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
 
 }
 .come-play img{
 width: 70%;
 margin: auto;
 }
 .come-play .continar-card{
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 gap: 15px;
 }
 .come-play .continar-card > div{
 width: calc((100% - 60px) / 5);
 padding: 30px;
 background-color: #121f29;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 border-radius: 10px;
 transform: skewy(-12deg);
 rotate:12deg;
 /* border-radius: 40px 20px; */
 }
 @media (max-width:990px) {
     .come-play .continar-card > div{
         width: calc((100% - 30px) / 3);
     }
 }
 @media (max-width:570px) {
     .come-play .continar-card > div{
         width: 100%;
     }
 }
 .come-play .continar-card > div >div{
     width: 80px;
     height: 80px;
     display: flex;
     justify-content: center;
     align-items: center;
     border: var(--sec-bg1) 4px solid;
     border-radius: 50%;
     padding: 20px;
     transition: 0.5s;
     transform: skewy(12deg);
     rotate:-12deg;
 }
 .come-play .continar-card > div >div:hover{
     border: var(--main-color) 4px solid;
 
 }
 .come-play .continar-card > div >div img{
 width: 50px;
 }
 .come-play .continar-card > div span{
 font-size: 25px;
 font-weight: 400;
 color: white;
 margin-top: 20px;
 }
 .continar-post{
 width: 100%;
 display: grid;
 grid-template-columns: 1fr 1fr; 
 }
 @media (max-width:1190px) {
     .continar-post{
         grid-template-columns: 1fr; 
         }
 }
 .continar-post .left-post{
 display: flex;
 flex-direction: column;
 gap: 20px;
 position: relative;
 }
 .continar-post .left-post span:nth-of-type(1){
 color: var(--main-color);
 font-size: 17px;
 font-weight: 600;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 }
 .continar-post .left-post  span:nth-of-type(1) img{
 width: 70px;
 height: 12px;
 margin-left: 10px;
 }
 .continar-post .left-post p{
 font-size: 40px;
 font-weight: 700;
 color: rgba(255, 255, 255, 0.521);
 text-transform: uppercase;
 }
 .continar-post .left-post p:nth-of-type(4){
     font-size: 16px;
     font-weight: 400;
     color: rgba(255, 255, 255, 0.493);
 
 }
 .continar-post .left-post p:nth-of-type(5){
 display: flex;
 justify-content: flex-start;
 align-items: center;
 gap: 10px;
 font-size: 16px;
 }
 .continar-post .left-post p:nth-of-type(5) img{
     width: 70px;
     margin: 0;
 }
 .continar-post .left-post img:nth-of-type(1){
     margin: 0;
     width: 100%;
 
 }
 .continar-post .left-post img:nth-of-type(2){
     width: 70px;
     position: absolute;
     right: 10px;
     top: 10px;
     animation: anim 1.5s alternate linear infinite both;
 
 }
 @keyframes anim {
     100%{
         transform:translatey(-20px);
     }
 }
 .right-post img{
     width: 100%;
     height: 400px;
 
 }
 /* start roadmap */
 .roadmap{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background:var(--sec-bg2) url(../imgs/bg2.png) no-repeat ;
    background-size: cover ;
 }
 .roadmap .left-roadmap{
display: flex;
flex-direction: column;
gap: 15px;

 }
 .roadmap .left-roadmap span{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
color: var(--main-color);
font-size: 20px;
}
.roadmap .left-roadmap p{
color: rgba(255, 255, 255, 0.801);
font-family: var(--heading-font);
font-size: 50px;
text-transform: uppercase;
font-weight: 600;
}
.roadmap .left-roadmap p:nth-of-type(4){
font-size: 18px;
text-transform: capitalize;
font-weight: 400;
}
.roadmap .left-roadmap p:nth-of-type(5){
display: flex;
justify-content: flex-start;
align-items: center;
gap: 10px;
font-size: 16px;
text-transform: capitalize;
font-family: var(--body-fomt);
margin-bottom: 20px;
}
.roadmap .left-roadmap p:nth-of-type(5) i{
color: var(--main-color);
}
.roadmap .left-roadmap .bu-bg span {
    font-size: 16px;
color: black;
}
.roadmap .right-roadmap{
display: grid;
grid-template-columns: 1fr 1fr;

}
.roadmap .right-roadmap div {
    width: 400px;
    background: url(../imgs/bg-rodmap.png) no-repeat ;
    background-size: contain;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 70px;
    position: relative;
    
    
}
.roadmap .right-roadmap .left,.right img{
    
}
.roadmap .right-roadmap div b{
    font-size: 40px;
color: rgba(255, 255, 255, 0.767);
}
.roadmap .right-roadmap div b{
font-size: 40px;
color: rgba(255, 255, 255, 0.767);
}
.roadmap .right-roadmap div p{
    display: flex;
    justify-content: flex-start;
align-content: center;
gap: 10px;
font-size: 16px;
color: rgba(255, 255, 255, 0.767);

}
.roadmap .right-roadmap div p  i{
color: var(--main-color);
font-size: 12px;
}
.roadmap .right-roadmap div span{
    color: white;
    font-size: 20px;
    font-weight: 600;
position: absolute;
bottom: 20px;
right:40%;
transform: translatex(-50%);
border-top: 3px var(--card) solid;
margin-top: 20px;
}
.roadmap .right-roadmap div hr{
    width: 80%;
height: 3px;
background-color: var(--card);
}
@media (max-width:1190px) {
    .roadmap{
        display: grid;
        grid-template-columns: 1fr ;
        background:var(--sec-bg2) url(../imgs/bg2.png) no-repeat ;
        background-size: cover ;
     }
}
 /* end roadmap */
 /* start customer */
 .customer{
} 
.customer .title-cost{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;



 } 
 .customer .title-cost span{
color: var(--main-color);
font-size: 18px;
font-weight: 400;
} 
.customer .title-cost p{
     font-size: 50px;
     font-weight: 700;
     color: rgba(255, 255, 255, 0.692);
     text-transform: uppercase;
     font-family: var(--heading-font);

 } 
 .customer .title-cost img{
width: 100px;
height: 15px;
margin: auto;
 } 
 .customer .continar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

 }
 .customer .continar .card-customer{
width: calc((100% - 40px) / 3);
display: flex;
flex-wrap: wrap;
flex-direction: column;
gap: 10px;
padding: 30px 50px;
justify-content: flex-start;
align-items: flex-start;
background-color: #121b24;
border-radius: 5px;

 }
 .customer .continar .card-customer span{
    width: 100%;
color: rgba(0, 0, 255, 0.295);
font-size: 17px;
display: flex;
justify-content: space-between;
align-items: center;
 }
 .customer .continar .card-customer span i{
color: var(--main-color);
font-size: 60px;
 }
 .customer .continar .card-customer p{
color: white;
opacity: 0.7;
font-weight: 400;
 }
 .customer .continar .card-customer > div{
display: flex;
gap: 15px;
justify-content: flex-start;
align-items: center;
margin-top: 30px;

 }
 .customer .continar .card-customer > div div:nth-of-type(1){
     width: 70px;
     height: 70px;
     display: flex;
     justify-content: center;
     align-items: center;
     border: 3px var(--card) solid;
     padding: 10px;
     border-radius: 50%;
    }
    .customer .continar .card-customer > div div:nth-of-type(1):hover{
        border: var(--main-color) 3px solid;
    }
.customer .continar .card-customer > div div:nth-of-type(1) img{
    width: 60px;
    border-radius: 50%;

 }
 .customer .continar .card-customer > div div:nth-of-type(2) p{
text-transform: uppercase;
font-size: 18px;
font-weight: 500;
color: rgba(255, 255, 255, 0.788);
}
.customer .continar .card-customer > div div:nth-of-type(2) span{
    
    font-size: 15px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.788);
 }
 @media (max-width:1190px) {
    
    .customer .continar .card-customer{
    width: calc((100% - 20px) / 2);
 }
}
 @media (max-width:750px) {
    
    .customer .continar .card-customer{
    width: 100% ;
 }
}

 /* end customer */

 
 /* end about-us */